/PBO/TP9/Polimorph/target/
/PBO/TP9/Main/target/
/PBO/TP10/TPSAPOLOH/target/
/PBO/TP11/TPSAWELAS/target/
/PBO/TP12/TPROLAS/nbproject/private/
/PBO/TP12/TPROLAS/build/
/PBO/TP12/rolas/ROLAS/nbproject/private/
/PBO/TP12/rolas/ROLAS/build/
/PBO/TP12/rolas/WebApplication1/nbproject/private/
/PBO/TP13/WebApplication1/build/
/PBO/TP13/TELULAS/nbproject/private/
/PBO/TP15/MOLAS/nbproject/private/
/PBO/TP15/MOLAS/build/
